name: Continuous Integration
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact: bb-patcher-linux
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact: bb-patcher-windows.exe

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: cargo-build-${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename artifact (Linux)
        if: runner.os == 'Linux'
        run: cp target/${{ matrix.target }}/release/bb-patcher ${{ matrix.artifact }}

      - name: Rename artifact (Windows)
        if: runner.os == 'Windows'
        run: cp target/${{ matrix.target }}/release/bb-patcher.exe ${{ matrix.artifact }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: cargo-check-${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
      - name: Run rustfmt
        run: cargo fmt -- --check
