name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/ci.yml

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: bb-patcher-linux

      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: bb-patcher-windows.exe

      - name: Calculate Hashes
        id: calculate_hash
        run: |
          LINUX_HASH=$(sha256sum bb-patcher-linux | awk '{ print $1 }')
          WINDOWS_HASH=$(sha256sum bb-patcher-windows.exe | awk '{ print $1 }')
          echo "linux_hash=$LINUX_HASH" >> "$GITHUB_OUTPUT"
          echo "windows_hash=$WINDOWS_HASH" >> "$GITHUB_OUTPUT"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          body: |
            Battle Brothers CLI Patcher

            ## Downloads
            - `bb-patcher-linux` - Linux binary
            - `bb-patcher-windows.exe` - Windows binary

            ## SHA256 Hashes
            - Linux: `${{ steps.calculate_hash.outputs.linux_hash }}`
            - Windows: `${{ steps.calculate_hash.outputs.windows_hash }}`
          draft: true
          prerelease: false

      - name: Upload Linux Release Asset
        uses: csexton/release-asset-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-url: ${{ steps.create_release.outputs.upload_url }}
          file: bb-patcher-linux

      - name: Upload Windows Release Asset
        uses: csexton/release-asset-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-url: ${{ steps.create_release.outputs.upload_url }}
          file: bb-patcher-windows.exe
